/*.............................App...................................*/
@import url('https://fonts.googleapis.com/css2?family=Playball&display=swap');
.App {
  text-align: center;
  min-height: 100vh;
  color:rgb(138, 9, 37);
  background-color:rgb(241, 199, 170);
  font-family: 'Playball', cursive;
}

/*.............................Home...................................*/

.Home {
  display: flex;
  flex-direction: column;
  align-items: center;
  
}
.Home_img {
  max-width: 320px;
  border-radius: 100%;
  border-color: blue;
}
.Home h1 {
  font-size: 2em;
  
}
/*.............................Nav...................................*/

.Nav {
  background-color: rgb(49, 28, 0);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.Nav_link {
  color:beige;
  margin: 1em; 
  font-size: 1.4rem;
}

.Nav_user_link {
  color:blanchedalmond;
  display:flex;
  align-items: center;
  margin-right: 30px;
} 



/*.............................ItemsLIst...................................*/

.Items_list {
  list-style: none;
}
.Items_img {
  width:300px;
  height: 300px;
}

/*.............................ItemsLIst...................................*/

.Item {

}
.Item_img {
  width:500px;
  height: 500px;
}

/*.............................Category...................................*/

.Category_list {
  list-style: none;
}

/*.............................SortedCategory...................................*/

.Sorted_category {
  list-style: none;
}
.Category_img {
  width:200px;
  height:200px;
  border-radius: 100%;
}

/*.............................UsersLIst...................................*/

.Users_list {
  list-style: none;

}
.Users_img {
  width:200px;
  height:200px;
  border-radius: 100%;
}